<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

    <body class="container">

        <%- include('../partials/header'); %>

            <main>
                <div class="jumbotron">
                    <h1>Node com EJS</h1>
                    <p>Vamos aprender a trabalhar com arquivos EJS</p>
                </div>
                <ul>
                    <li>
                        <strong>
                            D
                        </strong> algo com D
                    </li>
                    <li>
                        <strong>
                            E
                        </strong> algo com E
                    </li>
                    <li>
                        <strong>
                            M
                        </strong> algo com M
                    </li>
                    <li>
                        <strong>
                           A
                        </strong> algo com A
                    </li>
                    <li>
                        <strong>
                           I
                        </strong> algo com I
                    </li>
                </ul>

            </main>

            <%- include('../partials/footer'); %>

    </body>

</html>